.env
.my.cnf
.idea
db
db-prod
data
backup-data
moonkeyeu-etl-api/target
moonkeyeu-core-api/target
appmap.yml
jwt-keys/access-token/*
jwt-keys/refresh-token/*
!jwt-keys/.gitkeep
*/src/main/resources/test_db/**.sql
nginx/logs/*