.env
.my.cnf
.idea
.gitleaks-report.json
/db
/data
moonkeyeu-etl-api/target
moonkeyeu-core-api/target
moonkeyeu-core-api/src/main/resources/db
moonkeyeu-etl-api/src/main/resources/db
appmap.yml
jwt-keys/access-token/*
jwt-keys/refresh-token/*
!jwt-keys/.gitkeep
*/src/main/resources/test_db/**.sql
nginx/logs/*
.github/test/*
.github/workflows/test/*
./docs